@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Unip PIM<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Contato">P:</abbr>
   (11) 4123-3456
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Support@example.com">Support@bitbank.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@bitbank.com</a>
</address>