@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BITBANK</h1>
    <p class="lead">
         
        BitBank é uma empresa nova no ramo das novas tecnologias e nova forma de pensar dinheiro, 
        estamos no crecimento das moedas virtuais e estamos focando
        primeiramente em trabalhar com pessoas físicas e dependendo do resultado obtido
        ao longo dos anos ampliaremos ao ramo de pessoas jurídicas. Mas estamos falando
        de algo de 5 anos para expandir o negócio.
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Click aqui para ver sobre o mercado criptmoeda 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>CRIPTOMOEDAS GLOBAL</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p> MOEDA</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>